.cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: url("../assets/images/cart-background.jpg");
  min-height: 92.5%;
  position: relative;
  top: 50px;
}
.cart-item-img {
  width: 100px;
  height: 150px;
  margin: 10px;
  border: 1px solid black;
}
.cart-item-details {
  display: flex;
  justify-content: space-between;
}
.cart-item-title {
  width: 200px;
}
.cart-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 800px;
}
.cart-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove-cart-item {
  margin-left: 20px;
}
.cart-item-price {
  margin-left: 50px;
  font-weight: bold;
}
.checkout {
  width: 100px;
  height: 30px;
  color: white;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.total {
  font-weight: bolder;
}
@media only screen and (max-width: 650px) {
  .cart-item-details {
    flex-direction: column;
  }
  .cart-item {
    width: 400px;
  }
  .remove-cart-item {
    width: 100px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }
  .cart-buttons {
    flex-direction: column;
    justify-content: space-between;
  }
  .cart-item-title {
    font-size: 12px;
  }
}
